@page
@model CRUDProject.Pages.Ordenes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Estas seguro que quieres eliminarlo?</h3>
<div>
    <h4>Orden</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orden.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orden.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orden.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orden.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orden.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orden.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orden.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orden.Cliente.Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Orden.Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver</a>
    </form>
</div>
