@page
@model CRUDProject.Pages.Ordenes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ordenes</h1>

<div class="modal fade" id="ModalDialog" tabindex="-1" role="dialog" aria-labelledby="ModalDialogTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalDialogTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                @*<p>
                <a asp-page="Create">Crear Nuevo</a>
                </p>*@
                <h1>Crear Nuevo</h1>

                <h4>Orden</h4>
                <hr />
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="OrdenBP.ClienteId" class="control-label"></label>
                                <select asp-for="OrdenBP.ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrdenBP.OrderDate" class="control-label"></label>
                                <input asp-for="OrdenBP.OrderDate" class="form-control" />
                                <span asp-validation-for="OrdenBP.OrderDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrdenBP.TotalPrice" class="control-label"></label>
                                <input asp-for="OrdenBP.TotalPrice" class="form-control" readonly value="0" />
                                <span asp-validation-for="OrdenBP.TotalPrice" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OrdenBP.Description" class="control-label"></label>
                                <input asp-for="OrdenBP.Description" class="form-control" />
                                <span asp-validation-for="OrdenBP.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" asp-page-handler="test1" value="Crear" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a asp-page="Index">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
<form>
    <p>
        <button type="button" data-toggle="modal" data-target="#ModalDialog">Crear Nuevo</button>
        Filtro:
        <select asp-for="filter">
            <option value="All">Todo</option>
            <option value="Id">Id</option>
            <option value="Client">Cliente</option>
            <option value="Price">Precio</option>
            <option value="Description">Descripción</option>
            <option value="Date">Fecha</option>
        </select>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Buscar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orden[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden[0].OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orden) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Ver</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

