@page
@model CRUDProject.Pages.Productos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Producto.Id">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
